<html>

<head>
  <meta charset="utf-8">
  <title>Docker Container Web Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="./css/bootstrap.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm" style="background-color:#2684FF;">
    <a class="navbar-brand" href="https:///hub.docker.com" target="_blank" style="color:#fff;">
	<img src="../static/images/docker_logo.png">Docker Container Application by kevin.lee "hylee@dshub.cloud"</a>
  </nav>

  <div class="container" style="padding:20px 0 0 0">
    <div class="row">
      <img src="{{image_path}}" style="width:100%" />
    </div>
  </div>
</body>

</html>
